<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ishow">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 授予该程序录制声音的权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Mi -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!--com.example.ishow.permission.MIPUSH_RECEIVE-->
    <permission
        android:name="com.example.ishow.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.ishow.permission.MIPUSH_RECEIVE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".Application.iShowTalkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UIActivity.SplashActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--课程-->
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!--已下载的课程-->
        <!--课程-->
        <activity android:name=".UIActivity.CourseActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!--已下载的课程-->
       <activity android:name=".UIActivity.LocalCourseActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!--登陆-->
     <activity android:name=".UIActivity.LoginActivity"
            android:windowSoftInputMode="adjustUnspecified|stateVisible"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!--注册-->
         <activity android:name=".UIActivity.RegisterActivity"
             android:windowSoftInputMode="adjustUnspecified|stateVisible"
            android:theme="@style/explode">
        </activity>
        <!--密码忘记-->
         <activity android:name=".UIActivity.ForgetPasswordActivity"
             android:windowSoftInputMode="adjustUnspecified|stateVisible"
                   android:theme="@style/AppTheme.NoActionBar">
          </activity>
        <!--密码修改-->
        <activity android:name=".UIActivity.ChangePasswordActivity"
            android:windowSoftInputMode="adjustUnspecified|stateVisible"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!--音频播放-->
        <activity android:name=".UIActivity.MusicPlayActivity"
            android:theme="@style/AppTheme.MusicPlayActivity">
        </activity>
        <!--个人资料-->
        <activity android:name=".UIActivity.PersonalInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!--个人中心-->
        <activity android:name=".UIActivity.PersonalCenterActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!--排行榜-->
        <activity android:name=".UIActivity.PracticeRankActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme.practiceRank">
        </activity>
        <!--对练历史记录-->
        <activity android:name=".UIActivity.PracticeHistoryActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme.PracticeActivity">
        </activity>
        <!--设置-->
        <activity android:name=".UIActivity.SettingActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme.PracticeActivity">
        </activity>
        <!--关于我们-->
        <activity android:name=".UIActivity.AboutUsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme.PracticeActivity">
        </activity>
        <!--意见反馈-->
        <activity android:name=".UIActivity.SuggestionActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme.PracticeActivity">
        </activity>
        <!--本地录音-->
        <activity android:name=".UIActivity.RecordeActivity"
            android:theme="@style/AppTheme.RecordeActivity"
            >
        </activity>
        <!--我关注的人-->
        <activity android:name=".UIActivity.FansActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!--聊天界面-->
        <activity android:name=".UIActivity.ChatActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@style/AppThemeChatNormalStyle">
        </activity>
        <!--轮播条-->
        <activity android:name=".UIActivity.BannerActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!--轮播条-->
        <activity android:name=".UIActivity.SelectMembersActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!--视频通话-->
        <activity
            android:name=".justalk.cloud.juscall.CallActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            >
        </activity>
        <!--视频通话-->
        <activity
            android:name=".UIActivity.TestBasicVideo"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            >
        </activity>
        <!--搜索好友-->
        <activity
            android:name=".UIActivity.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            >
        </activity>

        <!--多媒体界面-->
        <activity
            android:name=".UIActivity.MediaActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            >
        </activity>

        <!--录视频界面-->
        <activity
            android:name=".UIActivity.MediaRecordActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            >
        </activity>

        <!--音频下载-->
        <service android:name=".Service.MusicDownLoadService">
        </service>
        <!--音频播放-->
        <service android:name=".Service.MusicPlayService">
        </service>

        <receiver android:name=".Service.JustalkStateCheckReciver"></receiver>

        <!--<receiver android:name=".Service.StartServiceReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        &lt;!&ndash; mi push start &ndash;&gt;
        <service android:name=".mipush.MtcService" />
        <service android:name=".justalk.cloud.juscall.FloatWindowService" />-->
        <!--小米推送-->
        <service android:name=".mipush.MtcService" />
        <service android:name=".justalk.cloud.juscall.FloatWindowService" />
        <!-- Mi -->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />
        <!-- 注：此service必须在2.2.5版本以后（包括2.2.5版本）加入 -->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice" >
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".mipush.MiPushMessageReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55e117c167e58eac94003a08" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="iShow" />
    </application>

</manifest>